<ion-app>
  <ion-header class="ion-padding">
    <ion-title>Yokoy Movies</ion-title>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="full" color="primary" [routerLink]="['/add-movie']">Add Movie</ion-button>
    <ion-searchbar #searchBox (ionInput)="search(searchBox.value)"></ion-searchbar>
    <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="toggleModal(false, null)">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-toolbar>
            <ion-title>{{currentMovie?.name}}</ion-title>
            <ion-buttons slot="secondary">
              <ion-button (click)="toggleModal(false, null)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-grid>
            <ion-item-group *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
              <ion-item button="" (click)="rateMovie(this.currentMovie, i)">vote {{i}}</ion-item>
            </ion-item-group>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-grid>
      <ion-row class="header">
        <ion-col size="3">Name</ion-col>
        <ion-col size="3">Year</ion-col>
        <ion-col size="3">Actor</ion-col>
        <ion-col size="3">Rate</ion-col>
      </ion-row>
      <ion-row *ngFor="let movie of movies$ | async" (click)="toggleModal(true, movie)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-col size="3">{{movie.name}}</ion-col>
        <ion-col size="3">{{movie.year}}</ion-col>
        <ion-col size="3">{{movie.actor}}</ion-col>
        <ion-col size="3">{{movie.rate}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
